/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: absolute;
    top: 100%;
    right: 5%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.9);
}

.search-button {
    cursor: pointer;
}

.form-check{
    padding: 0;

}

.form-check-label{
    margin-left: 0%;
}

.form-check-input{
    left:20%;
}

.checkbox-popup {
    position: relative;
}
.checkbox-popup {
    position: relative;
}

.close-btn {
    background-color: lightcoral;
    width: 100%;
    position: relative;
    right: auto;
}

.close-btn:hover {
    background-color: red;
}

/* Add styles to the form container */
.form-search-container {
    padding: 10px;
    background-color: aliceblue;
}

/* Full-width input fields */
.form-search-container input[type=text], .form-search-container input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-search-container input[type=text]:focus, .form-search-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Add some hover effects to buttons */
.form-search-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* Basic Rules */
.switch input {
    display: none;
}

.switch {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: 6px;
    transform: translateY(50%);
    position: relative;
}

/* Style Wired */
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px limeGreen, 0 0 5px limeGreen;
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: lightblue;
    border-radius: 15px;
    transform: translateX(-15px);
    transition: .4s;

}

input:checked + .slider:before {
    transform: translateX(15px);
    background: red;
}

input:checked + .slider {
    box-shadow: 0 0 0 2px red, 0 0 2px red;
}

