{% extends "base.html" %}

{% block content %}
    <!--
    <div class="row">
        <div class="col-11 text-left">Top Stocks</div>
        <div class="col-1 text-right">X</div>
    </div>
    -->



    <table class="table table-hover data-table">
        <tr>
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
            <th>Recommends</th>
        </tr>
        {% for stock in data %}
            <tr class="clickable-row" data-href="/stock/{{ stock.symbol }}/1m">

                <td>{{ forloop.counter }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price|floatformat:2 }}</td>
                <td class="
                {% if stock.change_percent >= 0 %}
                    text-success
                {% else %}
                    text-danger
                {% endif %}
                ">{{ stock.change_percent|floatformat:2 }}%
                </td>
<td class="{% if stock.rating_scale >= 0.5 and stock.rating_scale <= 1.25 %}
                text-success
                {% elif stock.rating_scale >= 1.25 and stock.rating_scale <= 1.75 %}
                text-primary
                {% elif stock.rating_scale >= 1.75 and stock.rating_scale <= 2.25 %}
                text-secondary
                {% elif stock.rating_scale >= 2.25 and stock.rating_scale <= 2.7 %}
                text-warning
                {% elif stock.rating_scale >= 2.7 and stock.rating_scale <= 3.3 %}
                text-danger
                {% else %}
                text-dark
                {% endif %}
                ">
                {% if stock.rating_scale >= 0.5 and stock.rating_scale <= 1.25 %}
                Buy
                {% elif stock.rating_scale >= 1.25 and stock.rating_scale <= 1.75 %}
                Moderate Buy
                {% elif stock.rating_scale >= 1.75 and stock.rating_scale <= 2.25 %}
                Hold
                {% elif stock.rating_scale >= 2.25 and stock.rating_scale <= 2.7 %}
                Moderate Sell
                {% elif stock.rating_scale >= 2.7 and stock.rating_scale <= 3.3 %}
                Sell
                {% else %}
                Unknown
                {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}
