{% extends "base.html" %}
{% load static %}
{% block content%}

	<div class="container">
		<div class="row">
			<div class=" col-4 text-left ">
                <div class="container">
                    <div class="row">
                        <div class="col-4" style="display:inline-block">
                            <img src="{{user.profile.image.url}}" width="108" height="113" alt="profile picture" style="display:inline-block">

                        </div>
                        <div class="col-4" style="display:inline-block">
                            <h1 style="display:inline-block">{{user.first_name}}</h1>
                            {% if user.profile.website %}
                                <a href="{{user.profile.website}}">my website</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-flush ">
                    <a href="#about" class=" data-hs-anchor list-group-item list-group-item-action">About me</a>
                    <a href="#fav" class="data-hs-anchor list-group-item list-group-item-action">Favorite stocks</a>
                    <a href="#act" class="list-group-item list-group-item-action ">review activities</a>
                </div>

			</div>
			<div class="col-8 text-left">
                <a id="about"></a>
                <h1 >About me</h1>
                <h5>Fullname</h5>
                <input class="form-control" type="text" placeholder="{{user.first_name}} {{user.last_name}}" readonly>
<!--                <a id="first"></a>-->
                <h5>Email</h5>
                <input class="form-control" type="text" placeholder="{{user.email}}" readonly>
                <h5>BirthDay</h5>
                <input class="form-control" type="text" placeholder="{{user.profile.birth}}" readonly>
                <h5>Job</h5>
                <input class="form-control" type="text" placeholder="{{user.profile.job}}" readonly>
                <h5>Bio</h5>
                <input class="form-control" type="text" placeholder="{{user.profile.bio}}" readonly>
               <br> <div class="text-right" ><a href="/edit">edit personal info</a></div>




                <a id="fav"></a><hr>
                <h1>Favorite stocks</h1>
{%if fav_stocks%}
                    <table class="table table-hover data-table">
                    <tr>
                        <th>#</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th> </th>

                    </tr>
                    {%for stock in fav_stocks%}
                    <tr class="clickable-row" data-href="/stock/{{ stock.symbol }}/1m">

                        <td>{{ forloop.counter }}</td>
                        <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td><a class="text-right btn btn-danger btn-sm" href="/unfavorite/{{ stock.symbol }}/" role="button">remove</a></td>

                    </tr>
                    {% endfor %}
                    </table>
                {%else %}
                <big class="text-danger">No favorite stalks to diplay</big>
                <a href="/" >Move to stalks list</a>
                {%endif%}


<!--                <ul>-->
<!--                    {%for stock in fav_stocks%}-->
<!--                    <li><a href="/stock/{{ stock.symbol }}/1m">{{ stock.symbol }}</a></li>-->
<!--                </ul>-->
<!--                    {% endfor %}-->

                <a id="act"></a><hr>
                <h1>Activities' Review</h1>
                {%if activities%}

                    <table class="table table-hover data-table">
                    <tr>
                        <th>activity</th>
                        <th>time</th>
                        <th><div class="text-right" ><a href="/clear">clear history</a></div></th>
                    </tr>
                    {%for act in activities%}
                    <tr>
                        <td>{{ act.type }}</td>
                        <td>{{ act.time }}</td>
                    </tr>
                    {% endfor %}
                    </table>
                {%else%}
                <big class="text-danger">No data to display</big>
                {%endif%}


            </div>
		</div>
	</div>

<!--<div class="container">-->
<!--    <div class="row text-left">-->
<!--        <div class="col-lg-3 order-2 " id="sticky-sidebar">-->
<!--            <div >-->
<!--                <div class="nav flex-column">-->
<!--                    <a href="#_" class="nav-link">Link</a>-->
<!--                    <a href="#_" class="nav-link">Link</a>-->
<!--                    <a href="#_" class="nav-link">Link</a>-->
<!--                    <a href="#_" class="nav-link">Link</a>-->
<!--                    <a href="#_" class="nav-link">Link</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-9 text-right">-->

<!--            <h1>profile</h1>-->
<!--<p>username: {{user}}</p>-->
<!--<p> firstname: {{user.first_name}}</p>-->
<!--<p>lastname: {{user.last_name}}</p>-->
<!--<p>email: {{user.email}}</p>-->
<!--<p>{{user.profile.bio}}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



{% endblock %}