	{% extends "base.html" %}

{% block content %}

	<div class="container">
		<div class="row">
			<div class=" col-lg-6 col-md-12 text-left">
				<h2 class="display-4">
					{{ data.companyName }}
					<small class="text-muted">({{ data.symbol }})</small>
				</h2>
			</div>
			<div class="col-lg-6 text-right">
				<form action='#' method='POST' style="display:inline-block">
  					<input type="hidden" name="name" value="{{data.symbol}}}}">
					<button class="text-right btn btn-outline-dark btn-lg" >add to my portfolio</button>
				</form>
				<a class="text-right btn btn-outline-danger btn-lg" href="

					/add/{{ data.symbol }}/"

				   role="button" style="display:inline-block">Favorite it</a>
<!--				<form action='/add/{{ data.symbol }}/' method='POST' style="display:inline-block">-->
<!--  					<input type="hidden" name="name" value="{{data.symbol}}}}">-->
<!--					<button class="text-right btn btn-outline-danger btn-lg" >favorite it</button>-->
<!--				</form>-->

			</div>
		</div>
	</div>


<!--<div class="col-md-12 text-left">-->
<!--		<h2 class="display-4" style="display:inline-block">-->
<!--				{{ data.companyName }}-->
<!--				<small class="text-muted">({{ data.symbol }})</small>-->
<!--		</h2>-->
<!--				&nbsp;&nbsp;&nbsp;-->
<!--	<button class="text-right btn btn-outline-dark btn-lg" style="display:inline-block" >add to my portfolio</button>-->

<!--</div>-->

<div class="col-md-12 text-left">
		<p class="lead">{{ data.primaryExchange }}</p>
</div>

<div class="col-md-12 text-left">
	<span class="lead">
	<big>
			{{ data.latestPrice }}
			<small class="lead">
					{% if data.changePercent >= 0 %}
									<span class="text-success">+{{ data.change }} (+{{ data.changePercent }}%)</span>
							{% else %}
									<span class="text-danger">{{ data.change }} ({{ data.changePercent }}%)</span>
							{% endif %}
			</small>
	</big>
	</span>
	<br>
	<small class="text-muted">Updated time: {{ data.latestTime }}</small>
</div>
<div class="row">
	<div class="pt-4 col-sm-6 pl-5">
		<dl class="row text-left">
			<dt class="col-sm-6">Previous Close</dt>
			<dd class="col-sm-6">{{ data.previousClose }}</dd>

			<dt class="col-sm-6">Volume</dt>
			<dd class="col-sm-6">{{ data.volume }}
			</dd>

			<dt class="col-sm-6">52 Weeks Low</dt>
			<dd class="col-sm-6">{{ data.week52Low }}</dd>

			<dt class="col-sm-6">52 Weeks High</dt>
			<dd class="col-sm-6">{{ data.week52High }}</dd>

			<dt class="col-sm-6">Year Change</dt>
			<dd class="col-sm-6">{{ data.ytdChange }}</dd>

			<dt class="col-sm-6">Market Cap</dt>
			<dd class="col-sm-6">{{ data.marketCap }}</dd>

			<dt class="col-sm-6">Currency</dt>
			<dd class="col-sm-6">{{ data.currency }}</dd>

			<dt class="col-sm-6">Issue Type</dt>
			<dd class="col-sm-6">{{ data.issue }}</dd>
		</dl>
	</div>

	<div class="pt-4 col-sm-6">
		<canvas id="changeChart"></canvas>
		<canvas id="priceChart"></canvas>


		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
		  <li class="nav-item">
			<a class="nav-link" id = "1d" href="../1d/"  role="tab" aria-controls="pills-home" aria-selected="true">1D</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link"  id="1m" href="../1m/" role="tab" aria-controls="pills-profile" aria-selected="false">1M</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link"  id="3m" href="../3m/" role="tab" aria-controls="pills-contact" aria-selected="false">3M</a>
		  </li>
			<li class="nav-item">
			<a class="nav-link"  id="6m" href="../6m/" role="tab" aria-controls="pills-contact" aria-selected="false">6M</a>
		  </li>
			<li class="nav-item">
			<a class="nav-link"  id="1y" href="../1y/" role="tab" aria-controls="pills-contact" aria-selected="false">1Y</a>
		  </li>
			<li class="nav-item">
			<a class="nav-link"  id="max" href="../max/" role="tab" aria-controls="pills-contact" aria-selected="false">Max</a>
		  </li>
		</ul>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		$.get( "/historic/{{ data.symbol }}/{{ time_range }}", function( data ) {
			historic_data = data.data.sort(function(a, b) { return a.date - b.date; })


			var ctxLl = document.getElementById("changeChart").getContext('2d');
			var myLineChartt = new Chart(ctxLl, {
				type: 'line',
				data: {
					labels: historic_data.map(d => d.label),
					datasets: [
						{
							label: "{{ data.symbol }} (change over time)",
							data: historic_data.map(d => d.changeOverTime),
							backgroundColor: [
								'rgba(105, 0, 132, .2)',
							],
							borderColor: [
								'rgba(200, 99, 132, .7)',
							],
							borderWidth: 2
						}
					]
				},
				options: {
					responsive: true
				}
			});





			var ctxL = document.getElementById("priceChart").getContext('2d');
			var myLineChart = new Chart(ctxL, {
				type: 'line',
				data: {
					labels: historic_data.map(d => d.label),
					datasets: [
						{
							label: "{{ data.symbol }} (price over time)",
							data: historic_data.map(d => d.close),
							backgroundColor: [
								'rgba(105, 0, 132, .2)',
							],
							borderColor: [
								'rgba(200, 99, 132, .7)',
							],
							borderWidth: 2
						}
					]
				},
				options: {
					responsive: true
				}
			});
		});
	});
</script>
{% endblock %}