{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class=" col-lg-6 col-md-12 text-left">
			<h2 class="display-4">
				{{ data.companyName }}
				<small class="text-muted">({{ data.symbol }})</small>
			</h2>
		</div>
		<div class="col-lg-6 text-right">
			<a class="text-right btn btn-outline-dark btn-lg" href="/buy/{{ data.symbol }}/"
				   role="button" style="display:inline-block">add to my portfolio</a>
			<a id="favo" class="text-right btn btn-outline-danger btn-lg" href="/{{fav}}/{{ data.symbol }}/"
				   role="button" style="display:inline-block">{{fav}}</a>
<!--			<form action='#' method='POST' style="display:inline-block">-->
<!--				{% csrf_token %}-->
<!--				<input type="hidden" name="name" value="{{data.symbol}}}}">-->
<!--				<button class="text-right btn btn-outline-dark btn-lg">add to my portfolio</button>-->
<!--			</form>-->
<!--			<a class="text-right btn btn-outline-danger btn-lg" href="/add/{{ data.symbol }}/" role="button"-->
<!--				style="display:inline-block">Favorite it</a>-->
			<!--				<form action='/add/{{ data.symbol }}/' method='POST' style="display:inline-block">-->
			<!--  					<input type="hidden" name="name" value="{{data.symbol}}}}">-->
			<!--					<button class="text-right btn btn-outline-danger btn-lg" >favorite it</button>-->
			<!--				</form>-->

		</div>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Compare With
			</button>
			<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">

				{% for stock in data.allStocks %}
				<a class="dropdown-item" onclick="compare('{{stock.symbol}}')" href="#">{{stock.name}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 text-left">
	<p class="lead">{{ data.primaryExchange }}</p>
</div>

<div class="col-md-12 text-left">
	<span class="lead">
		<big>
			{{ data.latestPrice }}
			<small class="lead">
				{% if data.changePercent >= 0 %}
				<span class="text-success">+{{ data.change }} (+{{ data.changePercent }}%)</span>
				{% else %}
				<span class="text-danger">{{ data.change }} ({{ data.changePercent }}%)</span>
				{% endif %}
			</small>
		</big>
	</span>
	<br>
	<small class="text-muted">Updated time: {{ data.latestTime }}</small>
</div>
<div class="row">
	<div class="pt-4 col-sm-6 pl-5">
		<dl class="row text-left">
			<dt class="col-sm-6 compare">Previous Close</dt>
			<dd class="col-sm-6 compare">{{ data.previousClose }}</dd>
			<dd id="previousClose" class="col-sm-4 text-info d-none">{{ data.previousClose }}</dd>

			<dt class="col-sm-6 compare">Volume</dt>
			<dd class="col-sm-6 compare">{{ data.volume }}
			</dd>
			<dd id="volume" class="col-sm-4 text-info d-none">{{ data.volume }}
			</dd>

			<dt class="col-sm-6 compare">52 Weeks Low</dt>
			<dd class="col-sm-6 compare">{{ data.week52Low }}</dd>
			<dd id="week52Low" class="col-sm-4 text-info d-none">{{ data.week52Low }}</dd>

			<dt class="col-sm-6 compare">52 Weeks High</dt>
			<dd class="col-sm-6 compare">{{ data.week52High }}</dd>
			<dd id="week52High" class="col-sm-4 text-info d-none">{{ data.week52High }}</dd>

			<dt class="col-sm-6 compare">Year Change</dt>
			<dd class="col-sm-6 compare">{{ data.ytdChange }}</dd>
			<dd id="ytdChange" class="col-sm-4 text-info d-none">{{ data.ytdChange }}</dd>

			<dt class="col-sm-6 compare">Currency</dt>
			<dd class="col-sm-6 compare">{{ data.currency }}</dd>
			<dd id="currency" class="col-sm-4 text-info d-none">{{ data.currency }}</dd>

			<dt class="col-sm-6 compare">Issue Type</dt>
			<dd class="col-sm-6 compare">{{ data.issue }}</dd>
			<dd id="issue" class="col-sm-4 text-info d-none">{{ data.issue }}</dd>

			<dt class="col-sm-6 compare">Market Cap</dt>
			<dd class="col-sm-6 compare">{{ data.marketCap }}</dd>
			<dd id="marketCap" class="col-sm-4 text-info d-none">{{ data.marketCap }}</dd>

			<!-- <dt class="col-sm-6 compare">totalRevenue</dt>
			<dd class="col-sm-6 compare">{{ data.totalRevenue }}</dd>
			<dt class="col-sm-6 compare">costOfRevenue</dt>
			<dd class="col-sm-6 compare">{{ data.costOfRevenue }}</dd> -->

			<dt class="col-sm-6 compare">Quarterly ( Revenue / Loss )</dt>
			<dd id="quarterlyRevenue" class="col-sm-6 compare">{{ data.revenueLoss }}</dd>
			<dd id="quarterlyRevenueC" class="col-sm-4 text-info d-none">{{ data.revenueLoss }}</dd>

		</dl>
	</div>

	<div class="pt-4 col-sm-6">
		<canvas id="changeChart"></canvas>
		<canvas id="priceChart"></canvas>


		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="1d" href="../1d/" role="tab" aria-controls="pills-home"
					aria-selected="true">1D</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="1m" href="../1m/" role="tab" aria-controls="pills-profile"
					aria-selected="false">1M</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="3m" href="../3m/" role="tab" aria-controls="pills-contact"
					aria-selected="false">3M</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="6m" href="../6m/" role="tab" aria-controls="pills-contact"
					aria-selected="false">6M</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="1y" href="../1y/" role="tab" aria-controls="pills-contact"
					aria-selected="false">1Y</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="max" href="../max/" role="tab" aria-controls="pills-contact"
					aria-selected="false">Max</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {

		initGraph();
		refreshGraph();
		"{% if data.revenueLoss > 0 %}"
		$("#quarterlyRevenue").addClass("text-success");
		"{% else %}"
		$("#quarterlyRevenue").addClass("text-danger");
		"{% endif %}"

	});

	var timeOut;
	var myLineChart;
	var myLineChart2;

	function addData(chart, data) {
		chart.data.datasets[1] = data;
		chart.update();
	}

	function refreshData(chart, data, index) {
		chart.data.datasets[index].data = data;
		chart.update();
	}


	function initGraph() {
		$.ajax({
			type: 'GET',
			url: "/historic/{{ data.symbol }}/{{ time_range }}/",
			success: function (result) {
				historic_data = result.data.sort(function (a, b) { return a.date - b.date; })

				var ctxL2 = document.getElementById("changeChart").getContext('2d');
				myLineChart2 = new Chart(ctxL2, {
					type: 'line',
					data: {
						labels: historic_data.map(d => d.label),
						datasets: [
							{
								label: "{{ data.symbol }} (change over time)",
								data: historic_data.map(d => d.changeOverTime),
								backgroundColor: [
									'rgba(105, 0, 132, .2)',
								],
								borderColor: [
									'rgba(200, 99, 132, .7)',
								],
								borderWidth: 2
							}
						]
					},
					options: {
						responsive: true
					}
				});
				var ctxL = document.getElementById("priceChart").getContext('2d');
				myLineChart = new Chart(ctxL, {
					type: 'line',
					data: {
						labels: historic_data.map(d => d.label),
						datasets: [
							{
								label: "{{ data.symbol }} (price over time)",
								data: historic_data.map(d => d.close),
								backgroundColor: [
									'rgba(105, 0, 132, .2)',
								],
								borderColor: [
									'rgba(200, 99, 132, .7)',
								],
								borderWidth: 2
							}
						]
					},
					options: {
						responsive: true
					}

				});
			}
		});
	}

	function compare(symbol) {

		$.ajax({
			type: 'GET',
			url: "/historic/" + symbol + "/{{ time_range }}/",
			success: function (result) {
				historic_data_2 = result.data.sort(function (a, b) { return a.date - b.date; });
				data = {
					label: symbol,
					data: historic_data_2.map(d => d.close),
					backgroundColor: [
						'rgba(0, 105, 132, .2)',
					],
					borderColor: [
						'rgba(99, 200, 132, .7)',
					],
					borderWidth: 2
				}

				data2 = {
					label: symbol,
					data: historic_data_2.map(d => d.changeOverTime),
					backgroundColor: [
						'rgba(0, 105, 132, .2)',
					],
					borderColor: [
						'rgba(99, 200, 132, .7)',
					],
					borderWidth: 2
				}

				addData(myLineChart, data);
				addData(myLineChart2, data2);
				refreshGraph(symbol);

			}
		});

		$.ajax({
			type: 'GET',
			url: "/stock/" + symbol + "/data/",
			success: function (result) {
				data = result.data;
				$(".compare").removeClass("col-sm-6");
				$(".compare").addClass("col-sm-4");
				$("dd").removeClass("d-none");
				$("#previousClose").text(data.previousClose);
				$("#volume").text(data.volume);
				$("#week52Low").text(data.week52Low);
				$("#week52High").text(data.week52High);
				$("#ytdChange").text(data.ytdChange);
				$("#marketCap").text(data.marketCap);
				$("#currency").text(data.currency);
				$("#issue").text(data.issue);
				$("#quarterlyRevenueC").text(data.revenueLoss);

				if (data.revenueLoss > 0) {
					$("#quarterlyRevenueC").removeClass("text-danger");
					$("#quarterlyRevenueC").addClass("text-success");
				} else {
					$("#quarterlyRevenueC").removeClass("text-success");
					$("#quarterlyRevenueC").addClass("text-danger");
				}

			}
		});
	}


	function refreshGraph(symbol) {
		symbol = symbol || '';
		$.ajax({
			type: 'GET',
			url: "/historic/{{ data.symbol }}/{{ time_range }}/",
			success: function (result) {
				historic_data = result.data.sort(function (a, b) { return a.date - b.date; })
				data = historic_data.map(d => d.close);
				data2 = historic_data.map(d => d.changeOverTime);
				refreshData(myLineChart, data, 0);
				refreshData(myLineChart2, data2, 0);

				if (symbol != '') {
					$.ajax({
						type: 'GET',
						url: "/historic/" + symbol + "/{{ time_range }}/",
						success: function (result) {
							historic_data = result.data.sort(function (a, b) { return a.date - b.date; })
							data = historic_data.map(d => d.close);
							data2 = historic_data.map(d => d.changeOverTime);
							refreshData(myLineChart, data, 1);
							refreshData(myLineChart2, data2, 1);
							clearTimeout(timeOut);
							timeOut = setTimeout(function () { refreshGraph(symbol); }, 10000);

						}
					});

				} else {
					timeOut = setTimeout(function () { refreshGraph(); }, 10000);
				}
			}
		});

	}

</script>
{% endblock %}